.user-info-card{
    margin-top: 50px;
    margin-bottom: 30px;
}

.navbar-brand{
    font-weight: bolder;
}

.navbar-links{
    margin-left: 600px;
    font-weight: bold;
}

.user-info-head{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.user-table-info{
   margin-bottom: 30px
}